{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h2>{{question.title}}</h2>
	<div class="card" >
		<ul class="list-group list-group-flush">
			{% for choice in question.choice_set.all %}
				<li class="list-group-item">
					{% if user.profile.role_type == 'employee' %}<a href="{%url 'poll' question.id %}">{{choice}}</a>{% else %}{{choice}}{% endif %}<span class="badge badge-pill badge-primary float-right" >{{choice.votes}}</span></li>
			{% empty %}
				<li class="list-group-item"><a href="{%url 'detail' question.id %}">There is no choice availe for this question</li>
			{% endfor %}
			
		</ul>
	</div>
	<p><strong>created by:</strong> {{question.created_by}}</p>
</div>

{% endblock %}
